In [22]:
import polars as pl
import pandas as pd

In [23]:
pl.__version__

'0.20.6'

In [35]:
df = pd.read_parquet("../parquet/yellow_tripdata_2023-01.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [26]:
# df = pl.read_parquet("../parquet/yellow_tripdata_2023-01.parquet")

In [36]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [37]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [38]:
from sqlalchemy import create_engine

In [39]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/new_york_taxi')

In [40]:
conn = engine.connect()

In [42]:
table_name = "yellow_taxi_data"
print(pd.io.sql.get_schema(df, name=table_name, con=conn))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [12]:
# #using psycopg2

# import psycopg2

# db_params = {
#     'host': 'localhost',
#     'port': '5432',
#     'database': 'new_york_taxi',
#     'user': 'postgres',
#     'password': 'postgres'
# }
# # Replace these values with your database connection details
# try:
#     conn = psycopg2.connect(**db_params)
# except psycopg2.Error as e:
#     print("Error!, could not connect to the Postgres database")
#     print(e)


# # Create a cursor to execute commands
# try:
#     cur = conn.cursor()
# except psycopg2.Error as e:
#     print("Error: Could not get cursor to database")
#     print(e)

# conn.set_session(autocommit=True)

In [1]:
table_name = "yellow_taxi_data"
pd.read_parquet("../parquet/yellow_tripdata_2023-01.parquet").to_csv("../csv/yellow_tripdata_2023-01.csv")

NameError: name 'pd' is not defined

In [44]:
df_iter = pd.read_csv("../csv/yellow_tripdata_2023-01.csv", iterator=True, chunksize=100000) # convert to a generator
df_iter

In [48]:
# df = next(df_iter)
# df.drop("Unnamed: 0", axis=1).head(n=0).to_sql(name=table_name, con=conn, if_exists='replace')

0

In [46]:
len(df)

100000

In [21]:
# df.head(n=0).to_sql(name = "yellow_taxi_data", con=conn, if_exists='replace')

0

In [49]:
from time import time
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.drop("Unnamed: 0", axis=1, inplace=True)
        df.to_sql(name="yellow_taxi_data", con=conn, if_exists='append')
        t_end = time()
        print(f"Inserted another chunk, took {t_end-t_start:3f} seconds")
    except StopIteration:
        print("Finished ingesting all dataset to dataset")
        break

Inserted another chunk, took 10.536531 seconds
Inserted another chunk, took 10.151826 seconds
Inserted another chunk, took 10.676069 seconds
Inserted another chunk, took 10.272257 seconds
Inserted another chunk, took 10.227878 seconds
Inserted another chunk, took 10.925536 seconds
Inserted another chunk, took 10.166305 seconds
Inserted another chunk, took 11.335869 seconds
Inserted another chunk, took 10.213296 seconds
Inserted another chunk, took 10.369916 seconds
Inserted another chunk, took 10.522805 seconds
Inserted another chunk, took 10.149961 seconds
Inserted another chunk, took 10.228434 seconds
Inserted another chunk, took 13.400831 seconds
Inserted another chunk, took 10.084102 seconds
Inserted another chunk, took 10.290652 seconds
Inserted another chunk, took 10.112110 seconds
Inserted another chunk, took 10.500477 seconds
Inserted another chunk, took 10.577823 seconds
Inserted another chunk, took 12.059478 seconds
Inserted another chunk, took 10.348445 seconds
Inserted another chunk, took 10.913746 seconds
Inserted another chunk, took 9.860142 seconds
Inserted another chunk, took 9.854020 seconds
Inserted another chunk, took 10.310987 seconds
Inserted another chunk, took 11.257083 seconds

/tmp/ipykernel_26912/1091444521.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 10.162869 seconds
Inserted another chunk, took 5.912900 seconds
Finished ingesting all dataset to dataset

: