In [1]:
import polars as pl
import pandas as pd

In [2]:
pl.__version__

'0.20.6'

In [3]:
dp = pd.read_parquet("../parquet/yellow_tripdata_2023-01.parquet")
dp.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
df = pl.read_parquet("../parquet/yellow_tripdata_2023-01.parquet")#

In [5]:
# df.head()

In [6]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [7]:
dp.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/new_york_taxi')

In [10]:
conn = engine.connect()

In [11]:
print(pd.io.sql.get_schema(dp, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
# #using psycopg2

# import psycopg2

# db_params = {
#     'host': 'localhost',
#     'port': '5432',
#     'database': 'new_york_taxi',
#     'user': 'postgres',
#     'password': 'postgres'
# }
# # Replace these values with your database connection details
# try:
#     conn = psycopg2.connect(**db_params)
# except psycopg2.Error as e:
#     print("Error!, could not connect to the Postgres database")
#     print(e)


# # Create a cursor to execute commands
# try:
#     cur = conn.cursor()
# except psycopg2.Error as e:
#     print("Error: Could not get cursor to database")
#     print(e)

# conn.set_session(autocommit=True)

In [20]:
table_name = "yellow_taxi_data"
pd.read_parquet("../parquet/yellow_tripdata_2023-01.parquet").to_csv("../csv/yellow_tripdata_2023-01.csv")
df_iter = pd.read_csv("../csv/yellow_tripdata_2023-01.csv", iterator=True, chunksize=100000) # convert to a generator
df_iter

AttributeError: 'TextFileReader' object has no attribute 'head'

In [21]:
df = next(df_iter)
df.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [21]:
# df.head(n=0).to_sql(name = "yellow_taxi_data", con=conn, if_exists='replace')

0

In [22]:
from time import time
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.drop("Unnamed: 0", axis=1, inplace=True)
        df.to_sql(name="yellow_taxi_data", con=conn, if_exists='append')
        t_end = time()
        print(f"Inserted another chunk, took {t_end-t_start:3f} seconds")
    except StopIteration:
        print("Finished ingesting all dataset to dataset")
        break

Inserted another chunk, took 7.098901 seconds
Inserted another chunk, took 6.571827 seconds
Inserted another chunk, took 6.640318 seconds
Inserted another chunk, took 6.926300 seconds
Inserted another chunk, took 6.726389 seconds
Inserted another chunk, took 6.666940 seconds
Inserted another chunk, took 6.497530 seconds
Inserted another chunk, took 6.660557 seconds
Inserted another chunk, took 6.800775 seconds
Inserted another chunk, took 6.571175 seconds
Inserted another chunk, took 6.822267 seconds
Inserted another chunk, took 6.678701 seconds
Inserted another chunk, took 6.797567 seconds
Inserted another chunk, took 6.542709 seconds
Inserted another chunk, took 6.359138 seconds
Inserted another chunk, took 6.263306 seconds
Inserted another chunk, took 6.577562 seconds
Inserted another chunk, took 6.270982 seconds
Inserted another chunk, took 6.117862 seconds
Inserted another chunk, took 6.059749 seconds
Inserted another chunk, took 6.359308 seconds
Inserted another chunk, took 6.551029 seconds
Inserted another chunk, took 6.746960 seconds
Inserted another chunk, took 6.676025 seconds
Inserted another chunk, took 7.071437 seconds
Inserted another chunk, took 6.662969 seconds
Inserted another chunk, took 6.440040 seconds
Inserted another chunk, took 6.323221 seconds

/tmp/ipykernel_31365/1091444521.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 6.558277 seconds
Inserted another chunk, took 3.737046 seconds
Finished ingesting all dataset to dataset